@import url("https://fonts.googleapis.com/css?family=Rokkitt&display=swap");

:root {
  font: 16px / 1 sans-serif;
  --color1: #fc6a3c;
  --color2: #51f0f0;
  --color3: #90afbc;
  --color4: #0e0d0d;
  --color5: #f9f7f7;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: var(--color5);
  font-family: "Rokkitt", serif;
}

.nav-bar {
  background-color: var(--color1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.company-logo {
  margin-left: 0.5rem;
}

.nav-link {
  margin: 0rem 0.5rem;
}

.directory-title,
.employee-card {
  text-align: center;
}

.directory-title {
  margin-bottom: 2rem;
}

.employee-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.employee-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border: solid var(--color4) 2px;
  background-color: var(--color2);
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 15rem;
  width: 15rem;
}

.employee-info {
  background-color: var(--color5);
  margin: 1rem 0rem;
  padding: 1rem;
  height: 6rem;
  width: 75%;
}

img {
  margin-top: 1rem;
  border-radius: 4rem;
  height: 7rem;
}

a {
  text-decoration: none;
  color: var(--color4);
}

.employee-detailed-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem 2rem 2rem;
  line-height: 1.5;
  border: solid 3px var(--color2);
  padding: 1.5rem;
  border-radius: 5px;
}

.add-employee-form {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  line-height: 2;
}

input {
  padding: 0.25rem;
  margin-left: 0.25rem;
}

. .info {
  border-bottom: solid 1px var(--color3);
  margin-bottom: 0.5rem;
}
